body{
    background: url(../image/hands.jpg)no-repeat center fixed;
    font-size:15px;
    background-size:100%,cover;
    width: 100%;
    height:100vh;
}
.left{
      padding: 0; 
}
.main-menu{
    display: flex;
    justify-content: flex-end;
     background-color:#EBEBEB;
     margin:0;
     padding-right: 4rem;
      
     
}
.main-menu ul{
    list-style: none;
    padding:1rem;
    margin: 0;
   
   

}
.main-menu li{
   display: inline-block; 
   padding-left: 5rem;
}
.main-menu a{
    color:#F02A2A;
}