body{
    background: url(../image/hands.jpg)no-repeat center fixed;
    font-size:15px;
    background-size:100%,cover;
    width: 100%;
    height:100vh;
}
@font-face {
    font-family: miso-bold;
    src: url(../police/miso/miso-bold.ttf);
}
@font-face {
    font-family: miso-regular;
    src: url(../police/miso/miso-regular.ttf);
}

[class^="col-"], [class*=" col-"], .row{
    padding: 0;
    margin: 0;
}
.left{
      padding: 0; 
}
.main-menu{
    display: flex;
    justify-content: flex-end;
     background-color:#EBEBEB;
     margin:0;
     padding-right: 4rem;
      
     
}
.main-menu ul{
    list-style: none;
    padding:1rem;
    margin: 0;
   
   

}
.main-menu li{
   display: inline-block; 
   padding-left: 5rem;
}
.main-menu a{
    color:#F02A2A;
}
.header{
    background-color:#F02A2A;
    color: #ffffff;
   height:250px;
}
.mobile-icon {
    display: none;
}
.container-fluid .navigator{
    font-size:1.5rem;
    padding-left:5rem;
    padding: 0;
}
.container-fluid .navigator .ecole-solidaire{
    padding-top:2rem;
}
.container-fluid .navigator .para1{
    border-bottom: 1px solid #FFFFFF; 
    color: #FFF121;
    display: inline-block;
    padding-bottom:0rem;
    font-family: miso-bold;
    font-size: 2.9rem;

}
.container-fluid .navigator .para2{
    padding-bottom:1rem;
    font-size: 1.9rem;
    font-family:miso-regular;
}
.container-fluid img{
    height:12rem;
    padding-left: 6rem;
    padding: 0;
}
.flex{
    display: flex;
}
.flex .savoir{
    padding:3rem;
    padding-right: 0;
    font-family: miso-bold;
    font-size:2rem;
    padding-bottom:0;
}

.container-fluid .pouvoir{
    color: #FFF121;
}